*{
    padding: 0;
    margin: 0;
}
body{
   
    

}
.main{
    width: 100%;
    height: 100vh;
    background-image: url(6d6f2958-b9a1-4c14-bdbf-ace6923ce482.jpeg);
    position: fixed;
    display: flex;
    justify-content: center;
}
.gdsc{
   width: 100%;
height: 8%;
    display: flex;
    justify-content: center;
  
    

}

.text {
    top: 50%; 
    right: 50%;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #000000,
    1px 2px 1px #000,
    1px 3px 1px #000,
    1px 4px 1px #000,
    1px 5px 1px #000,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}
.t1{
    color: #4285f4;
       
}
.t2{
    color: #34a853;
}
.t3{
    color: #FBBC05;
}
.t4{
    color: #EA4335;
}